@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@source "../**/*.{js,ts,jsx,tsx,mdx}";
@theme {
  /* In v4, we map our CSS variables to Tailwind theme variables inside @theme */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Setting up your Geist fonts if you're using the Next.js defaults */
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
  }
}